body {
    background-image: radial-gradient(#f8f8f8,#ffff) !important;
}

.row-title {
    margin-left: 100px;

}

.button-style {
    margin: 5px;
    text-align: center;
    width: 175px;
    height: 35px;
    border-radius: 5px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.topics-row {
    width: 800px;
    height: auto;
    align-content: center;
    float: left;
}

.title {
    font-size: 75px;
    text-align: center;
    margin: 50px;
    margin-left: 255;
    padding: 15px;
    font-family: 'Bungee', cursive;
    color: #FFAE42;
}
.text {
    font-size: 25px;
    text-align: center;
    margin: 15px;
    margin-left: 25px;
    padding: 10px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.search-style {
    margin: 20px;
    margin-left: 75px;
}
.form-style {
    width: 600px;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-left: 10px;
}

.gif-style {
    margin: 35px;
    margin-left: 55px;
    float: left;
    align-content: center;
    padding: 20px;
}
.gif {
    margin: 15px;
    border-radius: 5px;
    border-color: white;
    border: 15px;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}

.p {
    margin: 15px;
}

.card-columns {
    margin: 15px;
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  }